<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Financeiro Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinanceiroWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .sidebar {
            transition: transform 0.3s ease;
        }

        .sidebar-closed {
            transform: translateX(-100%);
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #fbfbfb;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #feebf3;">
            <div class="container-fluid">

                <button id="menuToggle" class="navbar-toggler" type="button" aria-label="Toggle navigation" style="display: inline-block;">
                    <i class="bi bi-list" style="font-size: 24px; color: black; display: inline-block;"></i>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <span class="navbar-text">Bem-vindo(a), Thaysa Rafaele!</span>
                            <i class="fa-solid fa-person"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid d-flex flex-grow-1">
        <div class="row flex-grow-1">
            <nav id="sidebar" class="col-md-2 d-none d-md-block sidebar" style="background-color: #feebf3;">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Dashboard" asp-action="Index" style="color:#88003e;">
                                <i class="bi bi-house"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="NotasFiscais" asp-action="Index" style="color:#88003e;">
                                <i class="bi bi-file-earmark-text"></i> Notas Fiscais
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted mt-auto" style="background-color: #feebf3;">
        <div class="container d-flex justify-content-center">
            &copy; 2024 - FinanceiroWeb - Thaysa Rafaele
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.getElementById("menuToggle").addEventListener("click", function () {
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("sidebar-closed");
        });
    </script>
</body>
</html>
