@{
    ViewData["Title"] = "Dashboard Financeiro";
}

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2>Dashboard Financeiro</h2>
            <div id="chartContainer"></div>
            <!-- Adicionar gráficos e tabelas -->
        </main>
    </div>
</div>
