@{
    ViewData["Title"] = "Dashboard Financeiro";
}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2>Dashboard Financeiro</h2>
            <div id="chartContainer"></div>
            <!-- Adicionar gráficos e tabelas depois -->
        </main>
    </div>
</div>
